In [1]:
import pandas as pd
from scipy.sparse import csr_matrix #create sparce matrix of the reshaped dataframe
from sklearn.neighbors import NearestNeighbors 
from fuzzywuzzy import process # to improve search

In [40]:
movies='movies.csv'
ratings='ratings.csv'

df_movies=pd.read_csv(movies,  dtype={'movieId':'int32','title':'str'})
df_ratings=pd.read_csv(ratings, usecols=['userId','movieId','rating'],dtype={'userId':'int32','movieId':'int32','rating':'float32'})

In [62]:
df_ratings.head()

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0
2       1     1061     3.0
3       1     1129     2.0
4       1     1172     4.0

In [51]:
df_movies.shape

(9742, 3)

In [52]:
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [54]:
#Spare Matrix
#building the KNN model    
movies_users=df_ratings.pivot(index='movieId', columns='userId',values='rating').fillna(0) #reshaping datafarme
movies_users

userId,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
movieId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,4.0,0.0,...,0.0,4.0,3.5,0.0,0.0,0.0,0.0,0.0,4.0,5.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161944,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162376,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162542,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162672,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
163949,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [56]:
mat_movies_users=csr_matrix(movies_users.values)
mat_movies_users

<9066x671 sparse matrix of type '<class 'numpy.float32'>'
	with 100004 stored elements in Compressed Sparse Row format>

In [47]:
model_knn= NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=20)
# cosine =>look for cosine similarity
# brute => itertate every cell
#

In [48]:
model_knn.fit(mat_movies_users)

NearestNeighbors(algorithm='brute', metric='cosine', n_neighbors=20)

In [75]:
def movieRecommender(movie_user_like, data,model, n_recommendations ):
    model.fit(data)
    index=process.extractOne(movie_user_like, df_movies['title'])[2] #index
    print('Searching for recommending similar movies.....')
    print("Top 5 similar movies to "+movie_user_like+" are:\n")
    print(index)
    distances, indices=model.kneighbors(data[index], n_neighbors=n_recommendations)
    for i in indices:
        print(df_movies['title'][i].where(i!=index))

In [76]:
movieRecommender('Jumanji', mat_movies_users, model_knn,10)

Searching for recommending similar movies.....
Top 5 similar movies to Jumanji are:

1
1                                                  NaN
447                         Puppet Masters, The (1994)
328          Naked Gun 33 1/3: The Final Insult (1994)
283              National Lampoon's Senior Trip (1995)
331                               Red Rock West (1992)
527                             Aristocats, The (1970)
521    Homeward Bound II: Lost in San Francisco (1996)
309                            Corrina, Corrina (1994)
520                                       Fargo (1996)
427                                      Malice (1993)
Name: title, dtype: object